.d1{
  border: black solid 1px;

  margin-bottom: 100px;
  width: 600px;
  height: 300px;
  overflow: hidden;
  margin: 50px auto;  
}

.d2{
  width: 150px;
  height: 150px;
  border: 1px solid black;
  overflow: hidden;

  cursor: pointer;  
}

.d3{
  width: 150px;
  height: 150px;
  border: 1px solid black;

  cursor: pointer;
  overflow: hidden;
}

.d4{
  width: 150px;
  height: 150px;
  border: 1px solid black;
  cursor: pointer;
  overflow: hidden;  
}

.dd{
  display: flex;
  justify-content: center;
}

.mouse{
  margin-top: 50px;
  text-align: center;
}

.mouse img{
  transition: transform 0.2s linear;
}
.mouse img:hover{
  transform : scale(1.1);
}
