h3{
  color : goldenrod;
  text-align: center;
}
.pictures{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pictures div{
  width: 200px;
  height: 130px;
  border: 1px solid black;
  margin: 10px;
  background-image: url('chu.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  /* box-sizing: border-box; */
}

.pictures :nth-child(1){
  border: 2px red solid;
}

nav ul{
  list-style-type: none;
  display: flex;  
  justify-content: center;
  padding: 0;
}

nav ul li{
  width: 100px;
  height: 30px;
  border: gray 1px solid;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background-color:thistle;
  box-sizing: border-box;
}
nav ul :last-child{
  border: none;
}
nav ul li:not(nav ul :last-child):hover{
  background-color: #555;
  color: #fff;
}
nav ul li:hover{
  background-color: #b30000;
  color: #fff;
}